<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DDH-Heroes</title>
</head>
<body>
    <a href="/">Inicio</a>
    <h1>Joan Clarke</h1>
    <h4>(1917-1996)</h4>
    <img src="/img/JoanClarke.png" width="350" height="400"alt="">
    <h2>Criptoanalista y numismática británica</h2>
    <p>Trabajó en Bletchley Park durante la Segunda Guerra Mundial. Fue la única mujer que trabajó en el equipo del matemático Alan Turing en el proyecto Enigma, que desencriptó las comunicaciones secretas de la Alemania nazi. Su papel en este proceso le valió premios y citaciones, como el nombramiento como miembro de la Orden del Imperio Británico (MBE), en 1946.</p>
</body>
</html>